@import 'reset.css';
@import 'util.css';

:root {
  --blue-color: #4392f1;
  --dark-blue-color: #3071cf;
  --white-color: #f1faee;
  --black-color: #272727;
  --dark-purple-color: #2b2d42;
  --yellow-color: #fffd82;
  --lighe-yellow-color: #fffeb3;
  --success-color: #5aba27;
  --warning-color: #ffc402;
  --danger-color: #930e06;
  --light-blue-color: #9ac1ef;
  --icon-font-size: 1.5rem;
  --border-radius-size: 2rem;
  --primary-font: 'Fjalla One';
  --secondary-font: 'Archivo';
  --card-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.btn {
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.icon,
.btn i {
  font-size: var(--icon-font-size);
}

#search-form,
#config-temp-format,
#reload-weather {
  background-color: var(--blue-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form *,
#config-temp-format *,
#reload-weather * {
  color: var(--white-color);
}

#config-temp-format {
  padding: 0;
}

#config {
  display: flex;
}

#config-temp-format {
  margin-right: 1rem;
}

#config-temp-format .btn {
  padding: 0.5rem 0.8rem;
  height: 100%;
  cursor: pointer;
}

#search-form {
  padding-left: 0.5rem;
  width: 30%;
  margin: 0 2rem;
}

#search {
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--white-color);
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  padding-right: 1rem;
  width: 80%;
}

#search:invalid {
  border-bottom: 0.1rem solid var(--warning-color);
}

#search-form [type='submit'] {
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--dark-blue-color);
}

#search-form [type='submit']:hover {
  background-color: var(--success-color);
}

#search-form [type='submit'] i {
  padding-right: 0.3rem;
}

#config-temp-format .btn[selected],
#config-temp-format .btn:hover,
#reload-weather:hover {
  background-color: var(--dark-blue-color) !important;
}

.border-radius-right-bottom-top {
  border-top-right-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);
}

.border-radius-left-bottom-top {
  border-top-left-radius: var(--border-radius-size);
  border-bottom-left-radius: var(--border-radius-size);
}

.border-radius {
  border-radius: var(--border-radius-size);
}

#reload-weather .btn {
  padding: 0 1.3rem;
  height: 100%;
  cursor: pointer;
}

#weather-forecast-today {
  background-color: var(--blue-color);
  padding: 1rem 0;
  box-shadow: var(--card-shadow);
}

#weather-forecast-today * {
  color: var(--white-color);
}

#weather-today-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#city-lon,
#city-lat,
#today-temp-min,
#today-temp-max {
  display: inline-block;
}

.title {
  text-transform: uppercase;
  font-family: var(--primary-font), var(--secondary-font), sans-serif;
  color: var(--white-color);
}

.title.x1 {
  font-size: 0.8rem;
}

.title.x2 {
  font-size: 1rem;
}

.title.x3 {
  font-size: 1.5rem;
}

#city-name {
  font-size: 4rem;
}

#today-temp-min,
#today-temp-max {
  font-size: 1.5rem;
}

#today-temp {
  color: var(--yellow-color);
  font-size: 5rem;
}

#more-info-weather-today {
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--border-radius-size);
  background-color: var(--blue-color);
  box-shadow: var(--card-shadow);
}

#more-info-weather-today table {
  background-color: var(--light-blue-color);
  margin: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  font-family: var(--secondary-font);
  color: var(--white-color);
}

tr:nth-child(even) {
  background-color: var(--dark-blue-color);
}

#weather-forecast-today {
  margin: 2rem 0;
}

#next-days-container {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: var(--blue-color);
  font-family: var(--secondary-font), sans-serif;
  overflow: hidden;
  color: var(--white-color);
  box-shadow: var(--card-shadow);
}

#next-days-container h2,
#next-days {
  display: block;
  margin: 0 auto;
  width: 90%;
}

#next-days {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.next-day {
  border-radius: var(--border-radius-size);
  background-color: red;
  text-align: center;
  margin: 0 0.5rem;
  background-color: var(--dark-blue-color);
  padding: 0 0 0.5rem 0;
  box-shadow: var(--card-shadow);
}

.next-day-weather-desc {
  color: var(--black-color);
}

.next-day-temp-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.next-day-name {
  font-size: 1.5rem;
}

.next-day-temp {
  font-size: 3rem;
  color: var(--yellow-color);
}

.next-day-resume-container {
  background-color: var(--light-blue-color);
  border-top-left-radius: var(--border-radius-size);
  border-top-right-radius: var(--border-radius-size);
  padding: 0.5rem 3rem;
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  #search-form {
    width: 100%;
    margin: 1rem 0;
  }
  #weather-today-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem;
  }
  #weather-today-content > * {
    margin: 1rem;
  }
  #more-info-weather-today {
    width: 100%;
  }
  #next-days {
    flex-direction: column;
  }
  .next-day {
    margin-top: 1rem;
  }
}

#log {
  position: fixed;
  bottom: 0;
  margin: 2.5rem 0;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-blue-color);
  padding: 1rem 0;
  display: none;
  font-family: var(--secondary-font), sans-serif;
  color: var(--white-color);
}

#load-progress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.32rem;
  display: none;
  border: none;
  color: var(--success-color);
}

#load-progress::-moz-progress-bar, #load-progress::-webkit-progress-value { 
  background: var(--success-color);
}

#load-progress.error, #load-progress.error::-moz-progress-bar, #load-progress::-webkit-progress-value {
  background: var(--danger-color);
  color: var(--danger-color);
}

#log.show, #load-progress.show {
  display: block;
}

body {
  background-color: var(--yellow-color);
}

body[theme='night'] {
  background-color: var(--dark-purple-color);
}

body[theme='night'] #search-form,
body[theme='night'] #config-temp-format,
body[theme='night'] #reload-weather,
body[theme='night'] #weather-forecast-today,
body[theme='night'] #next-days-container,
body[theme='night'] #more-info-weather-today {
  background-color: var(--black-color);
}
